body {
    background-color: #23272A;   /* #1b2836 isekai blue, not quite black #23272A e alice blue #f0f8ff (white) */
    color: #f0f8ff;
    font-size: 18px;
    font-family: Arial, sans-serif;
    
}
h1 {
    font-size: 50px;
    
}


/* comentario */